<a routerLink="add" class="btn btn-sm btn-success mb-2">Edit Profile</a>
<div [hidden]="shouldHide">
    <h1>My favorite jobs</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 20%">Job Title</th>
                <th style="width: 20%">Job Description</th>
                <th style="width: 20%">Post Date</th>
                <th style="width: 20%">Deadline Date</th>
                <th style="width: 20%">Posted By</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of jobs">
                <td>{{job.jobTitle}}</td>
                <td>{{job.jobDescription}}</td>
                <td>{{job.postDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{job.deadlineDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{job.username}}</td>
                <td style="white-space: nowrap">
                    <button (click)="deleteJob(job.id)" class="btn btn-sm btn-danger btn-delete-user"
                        [disabled]="job.isDeleting">
                        <span *ngIf="job.isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!job.isDeleting">Remove</span>
                    </button>
                </td>
            </tr>
            <tr *ngIf="!jobs">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>